In [2]:
#Basic Python Syntax
print ("Hello, Python!")
print ("Hello \
Python!")
print ("Python's World")
print ('Python\'s World')

Hello, Python!
Hello Python!
Python's World
Python's World

In [8]:
name="XYZ"
marks=90.5
age=20
print("The name of the person is ",name,"marks is ",marks, "age is ",age)
print(f"The name of the person is {name} marks is {marks} age is {age} ")
print("The name of the person is %2s marks is %3.1f age is %3d"%(name,marks,age))

The name of the person is  XYZ marks is  90.5 age is  20
The name of the person is XYZ marks is 90.5 age is 20
The name of the person is XYZ marks is 90.5 age is  20

In [11]:
#Python Variables and Assignment Statement
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

100
1000.0
John

In [12]:
a = b = c = 1
id(a)
id(b)

94153340938816

In [19]:
type(10)

int

In [20]:
type("a")

str

In [21]:
type(10.39)

float

In [22]:
type(True)

bool

In [23]:
#Python Operators
# Examples of Arithmetic Operator  
a = 9
b = 4
  
# Addition of numbers  
add = a + b  
  
# Subtraction of numbers  
sub = a - b  
  
# Multiplication of number  
mul = a * b  
  
# Division(float) of number  
div1 = a / b  
  
# Division(floor) of number  
div2 = a // b  
  
# Modulo of both number  
mod = a % b  
  
# Power 
p = a ** b 
  
# print results  
print(add)  
print(sub)  
print(mul)  
print(div1)  
print(div2)  
print(mod) 
print(p)

13
5
36
2.25
2
1
6561

In [24]:
# Examples of Relational Operators 
a = 13
b = 33
  
# a > b is False 
print(a > b) 
  
# a < b is True 
print(a < b) 
  
# a == b is False 
print(a == b) 
  
# a != b is True 
print(a != b) 
  
# a >= b is False 
print(a >= b) 
  
# a <= b is True 
print(a <= b)

False
True
False
True
False
True

In [25]:
# Examples of Logical Operator 
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not a)

False
True
False

In [26]:
# Examples of Bitwise operators 
a = 10
b = 4
  
# Print bitwise AND operation   
print(a & b) 
  
# Print bitwise OR operation 
print(a | b) 
  
# Print bitwise NOT operation  
print(~a) 
  
# print bitwise XOR operation  
print(a ^ b) 
  
# print bitwise right shift operation  
print(a >> 2) 
  
# print bitwise left shift operation  
print(a << 2)

0
14
-11
14
2
40

In [28]:
# Examples of Identity operators 
a1 = 3
b1 = 3
a2 = 'Das'
b2 = 'Das'
a3 = [1,2,3] 
b3 = [1,2,3] 
  
  
print(a1 is not b1) 
  
  
print(a2 is b2) 
  
# Output is False, since lists are mutable. 
print(a3 is b3)

False
True
False